:host {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e6e0e0;
  margin-right: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

:host.active {
  font-weight: bold;
  border: 1px solid black;
  border-bottom: none;
  background-color: lightgreen;
}

.fechar-btn {
  width: 20px;
  height: 20px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fechar-btn:hover {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fechar-btn img {
  width: 100%;
}
